# ignore tudo dentro da pasta "wp-content", exceto:
# pastas "mu-plugins", "plugins" e "themes"
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore plugin padrão
wp-content/plugins/hello.php

# ignore temas padrões
wp-content/themes/twenty*/

# ignore pasta de node dependency
node_modules/

# ignore log files e databases
*.log
*.sql
*.sqlite
